.button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: $color-black;
  color: $color-white;
  cursor: pointer;

  &:hover {
    background-color: $color-grey-200;
    color: $color-black;
  }
}

.card {
  padding: 1rem;
  border: 1px solid $color-grey-200;
  border-radius: 4px;
}

.nav {
  font-family: $font-alata;
  @include flex-between;
  @include respond(mobile) {
    width: 100rem;
    @include pad(10.5rem, 6.4rem);
  }

  @include respond(desktop) {
    width: 100rem;
    @include pad(4.6rem, 11.6rem,4.4rem,11.3rem);
  }

  ul {
    gap: 2.5rem;
    @include respond(mobile){
      display: none
    }
    @include respond(desktop){
      @include flex-center;
    }
    
  
  // Nested links
  a {
    @include pad(0);
    line-height: 1;
    text-decoration: none;
    color: #fff;

    @include respond(mobile) {
      font-size: 0.9rem;
      padding: 0.5rem;
    }

    @include respond(desktop) {
      font-size: 1rem;
    }

    &:hover {
      color: #000;
    }
  }
  }
}


.logo {
  
  @include respond(mobile) {
    width: 38rem;
  }

  @include respond(desktop) {
   @include fluid-size(4rem, 13.4vw, 40rem);
  }

}

#hero{
  width: 100rem;
  display: flex;
  align-items: flex-start;
  
  @include respond(desktop){
  @include pad(0,0,0,7rem);
  };

  h1{
    @include respond(mobile){
      width: 87rem;
      height: 52rem;
      @include pad(6.7rem,6.5rem);
      @include margin(33rem,auto);
      outline: 0.5rem solid #fff;
      font-family: $font-josefin;
      font-size: 10.5rem;
      line-height: 10.3rem;
      letter-spacing: 0.05rem;
      color: #fff;
      font-weight: 300;
    }
    @include respond(desktop){
      width: 45rem;
      height: 19rem;
      @include pad(2.5rem,0,0,2.7rem);
      @include margin(4.6rem);
      outline: 0.2rem solid #fff;
      font-family: $font-josefin;
      font-size: 5rem;
      letter-spacing: 0.01rem;
      line-height: 4.9rem;
      color: #fff;
      font-weight: 300;
    }
    
  }
}

#mobile-menu{
  @include respond(mobile){
    background-color: $color-black;
    position: fixed;
    inset: 0;
    @include pad(11rem, 6.5rem)
  }
  ul{
    @include margin(41rem,0);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-family: $font-josefin;
    font-size: 6rem;
    color: $color-white;
    letter-spacing: 0.3rem;
    font-weight: 300 !important;
  }
}

footer{
  background-color: $color-black;
}