// Colors
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-grey-200: hsl(0, 0%, 85%);

// Typography
$font-alata: 'Alata', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;

$font-size-body: 10px;

// Breakpoints
$bp-mobile: 0px;
$bp-desktop: 1024px;
